<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Clientes</title>
    </head>
    
    
    
    <body>

        <section th:fragment="listarClientes">
            <div class="container mt-4">
                <h2>Listado de Clientes</h2>

                <a th:href="@{/cliente/insertar}" class="btn btn-info mb-3">Insertar Cliente</a>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre Cliente</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Direccion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${clientes}">
                            <td th:text="${c.nombreCliente}"></td>
                            <td th:text="${c.telefono}"></td>
                            <td th:text="${c.email}"></td>
                            <td th:text="${c.descripcion}"></td>
                            <td th:text="${c.estado}"></td>
                            <td>
                                <!-- BOTON ACTUALIZAR -->
                                <form th:action="@{/cliente/actualizar}" method="post">
                                    <input type="hidden" name="idCliente" th:value="${c.idCliente}"/>
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </form> 

                                <!-- BOTON ELIMINAR (DESACTIVAR) -->
                                <form th:action="@{/cliente/eliminar}" method="post">
                                    <input type="hidden" name="idCliente" th:value="${c.idCliente}"/>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form> 


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <!-- FORMULARIO PARA INSERTAR CLIENTE. SE LLAMA EN INSERTAR.HTML -->
        <section th:fragment="insertarCliente">
            <div class="container mt-4">
                <h2 class="mb-4">Insertar Cliente</h2>

                <form th:action="@{/cliente/insertar}" method="post">
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label>Nombre Cliente:</label>
                            <input type="text" class="form-control" name="nombreCliente" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Telefono:</label>
                            <input type="text" class="form-control" name="telefono" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Email:</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        

                        <div class="form-group col-md-6">
                            <label>Direccion</label>
                            <select name="idDireccion" class="form-control" required>
                                <option value="">Seleccione una direccion</option>
                                <option th:each="d : ${direcciones}" 
                                        th:value="${d.idDireccion}" 
                                        th:text="${d.descripcion}">
                                </option>
                            </select>
                        </div>
                        
                    <button type="submit" class="btn btn-primary mt-3">Insertar</button>
                    <br/>
                    <div th:if="${mensaje}"
                         th:classappend="${mensaje.contains('error') ? 'alert-danger' : 'alert-success'}"
                         class="alert"
                         role="alert">
                        <span th:text="${mensaje}"></span>
                    </div>

                    </div>
                </form>
            </div>
        </section>


        <!-- FORMULARIO PARA ACTUALIZAR CLIENTE. SE LLAMA EN ACTUALIZAR.HTML -->

        <section th:fragment="actualizarCliente">
            <div class="container mt-4">
                <h2 class="mb-4">Editar Cliente</h2>
                <form th:action="@{/cliente/actualizar}"
                      th:object="${cliente}"
                      method="post">
                    <div class="form-row">
                    <!-- ID oculto -->
                    <input type="hidden" th:field="*{idCliente}" />

                    <div class="form-group">
                        <label>Nombre Cliente:</label>
                        <input type="text" th:field="*{nombreCliente}"
                               class="form-control" required/>
                    </div>

                    
                    <div class="form-group">
                        <label>Telefono:</label>
                        <input type="text" step="0.01" th:field="*{telefono}"
                               class="form-control" required/>
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" th:field="*{email}"
                               class="form-control" required/>
                    </div>
                    

                    <div class="form-group">
                        <label>Direccion:</label>
                        <select th:field="*{idDireccion}" class="form-control" required>
                            <option value="" disabled>-- Elija una direccion --</option>
                            <option th:each="d : ${direcciones}"
                                    th:value="${d.idDireccion}"
                                    th:text="${d.descripcion}">
                            </option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Estado:</label>
                        <select th:field="*{idEstado}" class="form-control" required>
                            <option th:each="e : ${estados}"
                                    th:value="${e}"
                                    th:text="${e == 1 ? 'Activo' : 'Inactivo'}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    
                    
                    <!-- mensaje de éxito solamente si mensaje no es null y contiene "éxito" -->
                    <div th:if="${mensaje != null and mensaje.contains('éxito')}"
                         class="alert alert-success mt-3">
                        <span th:text="${mensaje}"></span>
                    </div>
                    </div>
                </form>
            </div>
        </section>
        
          
        
        
    </body>
</html>


