<!DOCTYPE html>
<html lang="es">
    
        <section th:fragment="insertarProvincia">
            <h2>Insertar Provincia</h2>

            <form action="/provincia/listado" method="post">
                

                <label>Nombre de la Provincia: </label>
                <input type="text" name="nombreProvincia" required>

                <button type="submit">Insertar</button>
            </form>

            <p th:text="${mensaje}"></p>

        </section>
        
        <section th:fragment="insertarCanton">
            <h2>Insertar Canton</h2>

            <form action="/canton/listado" method="post">
                

                <label>Nombre del Cantón: </label>
                <input type="text" name="nombreCanton" required>
             
                
                <label>Id de provincia: </label>
                <input type="text" name="idProvincia" required>
                
                <button type="submit">Insertar</button>
                
                
                
            </form>

            <p th:text="${mensaje}"></p>

        </section>
    
    
    
     <section th:fragment="insertarDistrito">
            <h2>Insertar Distrito</h2>

            <form action="/distrito/listado" method="post">
                

                <label>Nombre del Distrito: </label>
                <input type="text" name="nombreDistrito" required>
             
                
                <label>Id del canton: </label>
                <input type="text" name="idCanton" required>
                
                
                  <label>Id de la provincia:  </label>
                <input type="text" name="idProvincia" required>
                
                <button type="submit">Insertar</button>
                
                
                
            </form>

            <p th:text="${mensaje}"></p>

        </section>
    
    
    
    

    </body>
</html>


