<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Mascotas</title>
    </head>
    
    
    
    <body>

        <section th:fragment="listarMascotas">
            <div class="container mt-4">
                <h2>Listado de Mascotas</h2>

                <a th:href="@{/mascota/insertar}" class="btn btn-info mb-3">Insertar Mascota</a>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre Mascota</th>
                            <th>Edad</th>
                            <th>Fecha Nacimiento</th>
                            <th>Peso</th>
                            <th>Raza</th>
                            <th>Color</th>
                            <th>Dueño</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="m : ${mascotas}">
                            <td th:text="${m.nombreMascota}"></td>
                            <td th:text="${m.edad}"></td>
                            <td th:text="${#dates.format(m.fechaNacimiento,'dd/MM/yyyy')}"></td>
                            <td th:text="${m.peso}"></td>
                            <td th:text="${m.descripcionRaza}"></td>
                            <td th:text="${m.descripcionColor}"></td>
                            <td th:text="${m.nombreCliente}"></td>
                            <td th:text="${m.estado}"></td>
                            <td>
                                <!-- BOTON ACTUALIZAR -->
                                <form th:action="@{/mascota/actualizar}" method="post">
                                    <input type="hidden" name="idMascota" th:value="${m.idMascota}"/>
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </form> 

                                <!-- BOTON ELIMINAR (DESACTIVAR) -->
                                <form th:action="@{/mascota/eliminar}" method="post">
                                    <input type="hidden" name="idMascota" th:value="${m.idMascota}"/>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form> 


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

       
        <!-- <section th:fragment="insertarRaza">
            <h2>Insertar Raza</h2>

            <form action="/raza/listado" method="post">


                <label>Descripción del Raza:</label>
                <input type="text" name="descripcionRaza" required>

                <button type="submit">Insertar</button>
            </form>

            <p th:text="${mensaje}"></p>

        </section> -->
        


        <!-- FORMULARIO PARA INSERTAR MASCOTA. SE LLAMA EN INSERTAR.HTML -->
        <section th:fragment="insertarMascota">
            <div class="container mt-4">
                <h2 class="mb-4">Insertar Mascota</h2>

                <form th:action="@{/mascota/insertar}" method="post">
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label>Nombre Mascota:</label>
                            <input type="text" class="form-control" name="nombreMascota" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Edad Mascota:</label>
                            <input type="number" class="form-control" name="edad" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Peso Mascota:</label>
                            <input type="number" placeholder="Peso en kg" class="form-control" name="peso" required>
                        </div>
                        
                        

                        <div class="form-group col-md-6">
                            <label>Fecha Nacimiento Mascota:</label>
                            <input type="date" class="form-control" name="fechaNacimiento" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Raza Mascota:</label>
                            <select name="idRaza" class="form-control" required>
                                <option value="">Seleccione una raza</option>
                                <option th:each="r : ${razas}" 
                                        th:value="${r.idRaza}" 
                                        th:text="${r.descripcionRaza}">
                                </option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label>Color Mascota:</label>
                            <select name="idColor" class="form-control" required>
                                <option value="">Seleccione un color</option>
                                <option th:each="c : ${colores}" 
                                        th:value="${c.idColor}" 
                                        th:text="${c.descripcionColor}">
                                </option>
                            </select>
                        </div>
                        
                    <div class="form-group col-md-6">
                            <label>Dueño Mascota:</label>
                            <select name="idCliente" class="form-control" required>
                                <option value="">Seleccione un cliente</option>
                                <option th:each="cl : ${clientes}" 
                                        th:value="${cl.idCliente}" 
                                        th:text="${cl.nombreCliente}">
                                </option>
                            </select>
                        </div>

                    <button type="submit" class="btn btn-primary mt-3">Insertar</button>
                    <br/>
                    <div th:if="${mensaje}"
                         th:classappend="${mensaje.contains('error') ? 'alert-danger' : 'alert-success'}"
                         class="alert"
                         role="alert">
                        <span th:text="${mensaje}"></span>
                    </div>

                    </div>
                </form>
            </div>
        </section>


        <!-- FORMULARIO PARA ACTUALIZAR MASCOTA. SE LLAMA EN ACTUALIZAR.HTML -->

        <section th:fragment="actualizarMascota">
            <div class="container mt-4">
                <h2 class="mb-4">Editar Mascota</h2>
                <form th:action="@{/mascota/actualizar}"
                      th:object="${mascota}"
                      method="post">
                    <div class="form-row">
                    <!-- ID oculto -->
                    <input type="hidden" th:field="*{idMascota}" />

                    <div class="form-group">
                        <label>Nombre Mascota:</label>
                        <input type="text" th:field="*{nombreMascota}"
                               class="form-control" required/>
                    </div>

                    <div class="form-group">
                        <label>Edad Mascota:</label>
                        <input type="number" th:field="*{edad}"
                               class="form-control" required/>
                    </div>

                    <div class="form-group">
                        <label>Peso Mascota:</label>
                        <input type="number" step="0.01" th:field="*{peso}"
                               class="form-control" required/>
                    </div>

                    <div class="form-group">
                        <label>Fecha Nacimiento:</label>
                        <input type="date" th:field="*{fechaNacimiento}"
                               class="form-control" required/>
                    </div>

                    <div class="form-group">
                        <label>Raza:</label>
                        <select th:field="*{idRaza}" class="form-control" required>
                            <option value="" disabled>-- Elija una raza --</option>
                            <option th:each="r : ${razas}"
                                    th:value="${r.idRaza}"
                                    th:text="${r.descripcionRaza}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Color:</label>
                        <select th:field="*{idColor}" class="form-control" required>
                            <option value="" disabled>-- Elija un color --</option>
                            <option th:each="c : ${colores}"
                                    th:value="${c.idColor}"
                                    th:text="${c.descripcionColor}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Dueño:</label>
                        <select th:field="*{idCliente}" class="form-control" required>
                            <option value="" disabled>-- Elija un cliente --</option>
                            <option th:each="cl : ${clientes}"
                                    th:value="${cl.idCliente}"
                                    th:text="${cl.nombreCliente}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Estado:</label>
                        <select th:field="*{idEstado}" class="form-control" required>
                            <option th:each="e : ${estados}"
                                    th:value="${e}"
                                    th:text="${e == 1 ? 'Activo' : 'Inactivo'}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    
                    
                    <!-- mensaje de éxito solamente si mensaje no es null y contiene "éxito" -->
                    <div th:if="${mensaje != null and mensaje.contains('éxito')}"
                         class="alert alert-success mt-3">
                        <span th:text="${mensaje}"></span>
                    </div>
                    </div>
                </form>
            </div>
        </section>
        
        
        <!-- COLOR -->
        
        <!-- LISTA CON COLORES -->
        <section th:fragment="listarColores">
            <div class="container mt-4">
                <h2>Listado de Colores</h2>

                <a th:href="@{/color/insertar}" class="btn btn-info mb-3">Insertar Color</a>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Color</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="c : ${colores}">
                            <td th:text="${c.descripcionColor}"></td>
                            <td th:text="${c.estado}"></td>
                            <td>
                                <!-- BOTON ACTUALIZAR -->
                                <a th:href="@{/color/actualizar(idColor=${c.idColor})}"
                                    class="btn btn-sm btn-warning">Editar</a>
 

                                <!-- BOTON ELIMINAR (DESACTIVAR) -->
                                <form th:action="@{/color/eliminar}" method="post">
                                    <input type="hidden" name="idColor" th:value="${c.idColor}"/>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form> 


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
        <!-- INSERTAR COLOR. LLAMA A INSERTAR COLOR.HTML -->
        
         <section th:fragment="insertarColor">
            <div class="container mt-4">
                <h2 class="mb-4">Insertar Color</h2>

                <form th:action="@{/color/insertar}" method="post">
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label>Color</label>
                            <input type="text" class="form-control" name="descripcionColor" required>
                        </div>
                        
                    <button type="submit" class="btn btn-primary mt-3">Insertar</button>
                    <br/>
                    <div th:if="${mensaje}"
                         th:classappend="${mensaje.contains('error') ? 'alert-danger' : 'alert-success'}"
                         class="alert"
                         role="alert">
                        <span th:text="${mensaje}"></span>
                    </div>

                    </div>
                </form>
            </div>
        </section>
        
        <!-- Actualizar color -->
        
        <section th:fragment="actualizarColor">
            <div class="container mt-4">
                <h2 class="mb-4">Editar Color</h2>
                <form th:action="@{/color/actualizar}"
                      th:object="${color}"
                      method="post">
                    <div class="form-row">
                    <!-- ID oculto -->
                    <input type="hidden" th:field="*{idColor}" />

                    <div class="form-group">
                        <label>Color:</label>
                        <input type="text" th:field="*{descripcionColor}"
                               class="form-control" required/>
                    </div>

                    
                    <div class="form-group">
                        <label>Estado:</label>
                        <select th:field="*{idEstado}" class="form-control" required>
                            <option th:each="e : ${estados}"
                                    th:value="${e}"
                                    th:text="${e == 1 ? 'Activo' : 'Inactivo'}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    
                    
                    <!-- mensaje de éxito solamente si mensaje no es null y contiene "éxito" -->
                    <div th:if="${mensaje != null and mensaje.contains('éxito')}"
                         class="alert alert-success mt-3">
                        <span th:text="${mensaje}"></span>
                    </div>
                    </div>
                </form>
            </div>
        </section>

        
        
        <!-- listado razas -->
        
        
        <section th:fragment="listarRazas">
            <div class="container mt-4">
                <h2>Listado de Razas</h2>

                <a th:href="@{/raza/insertar}" class="btn btn-info mb-3">Insertar Raza</a>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Raza</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="r : ${razas}">
                            <td th:text="${r.descripcionRaza}"></td>
                            <td th:text="${r.estado}"></td>
                            <td>
                                <!-- BOTON ACTUALIZAR -->
                                <form th:action="@{/raza/actualizar}" method="post">
                                    <input type="hidden" name="idRaza" th:value="${r.idRaza}"/>
                                    <button type="submit" class="btn btn-warning">Editar</button>
                                </form> 

                                <!-- BOTON ELIMINAR (DESACTIVAR) -->
                                <form th:action="@{/raza/eliminar}" method="post">
                                    <input type="hidden" name="idRaza" th:value="${r.idRaza}"/>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </form> 


                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        
        
        <!-- INSERTAR RAZA. LLAMA A INSERTAR RAZA.HTML -->
        
         <section th:fragment="insertarRaza">
            <div class="container mt-4">
                <h2 class="mb-4">Insertar Raza</h2>

                <form th:action="@{/raza/insertar}" method="post">
                    <div class="form-row">
                        
                        <div class="form-group col-md-6">
                            <label>Raza</label>
                            <input type="text" class="form-control" name="descripcionRaza" required>
                        </div>
                        
                    <button type="submit" class="btn btn-primary mt-3">Insertar</button>
                    <br/>
                    <div th:if="${mensaje}"
                         th:classappend="${mensaje.contains('error') ? 'alert-danger' : 'alert-success'}"
                         class="alert"
                         role="alert">
                        <span th:text="${mensaje}"></span>
                    </div>

                    </div>
                </form>
            </div>
        </section>
        
        <!-- FORMULARIO PARA ACTUALIZAR RAZA. SE LLAMA EN RAZA.HTML -->

        <section th:fragment="actualizarRaza">
            <div class="container mt-4">
                <h2 class="mb-4">Editar Raza</h2>
                <form th:action="@{/raza/actualizar}"
                      th:object="${raza}"
                      method="post">
                    <div class="form-row">
                    <!-- ID oculto -->
                    <input type="hidden" th:field="*{idRaza}" />

                    <div class="form-group">
                        <label>Raza Mascota:</label>
                        <input type="text" th:field="*{descripcionRaza}"
                               class="form-control" required/>
                    </div>
                    
                    <div class="form-group">
                        <label>Estado:</label>
                        <select th:field="*{idEstado}" class="form-control" required>
                            <option th:each="e : ${estados}"
                                    th:value="${e}"
                                    th:text="${e == 1 ? 'Activo' : 'Inactivo'}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    
                    
                    <!-- mensaje de éxito solamente si mensaje no es null y contiene "éxito" -->
                    <div th:if="${mensaje != null and mensaje.contains('éxito')}"
                         class="alert alert-success mt-3">
                        <span th:text="${mensaje}"></span>
                    </div>
                    </div>
                </form>
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>


