<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"></head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <div class="container mt-4">
            <h1>Bienvenido a tu Veterinaria</h1>

            <div style="text-align: center; margin-top: 30px;">
                <img src="/images/tl.png" alt=""
                     style="max-width: 50%; height: auto;"/>
            </div>

        </div>
    </body>
</html>